DATABASE_URL="mysql://root:123456@localhost:3306/biblioteca"
DATABASE_USER="root"
DATABASE_PASSWORD="123456"
DATABASE_NAME="biblioteca"
DATABASE_HOST="localhost"
DATABASE_PORT=3306

JWT_SECRET="minha_chave_super_secreta_senac"

MAILTRAP_USER="coloca_aqui_o_teu_user_do_mailtrap"
MAILTRAP_PASS="coloca_aqui_a_tua_password_do_mailtrap"